<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/home.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- External Google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ribeye&family=Roboto:ital,wght@0,400;0,700;1,100;1,300&display=swap" rel="stylesheet">

  <!-- App JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/home.js"></script>

  <!-- External JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>



</head>

<body>
  <!-- nav bar-->
<nav>
  <div class="navigator">
    <form class="search-bar" action="/quiz">
      <div>
        <button id=search-button type="submit">SEARCH</button>
      </div>
      <input type="text" placeholder="Search a category..." name="search" required>


      <a id=create href="/quiz/new">CREATE </a>
      <a id=home href="/home">HOME </a>
    </form>

  </div>
</nav>

  <header><h1>Welcome to QuikQuiz</h1></header>


  <section class="categories">
    <p style="color:white; font-size:30px; font-weight:bold;">Test your inner genius with instant quizzes on various topics!</p>
    <article class="subject">
      <div >MATH</div>
      <div >ENGLISH</div>
      <div >SCIENCE</div>
      <div >AND MANY MORE!</div>
    </article>
  </section>

<main>
  <section class = "quizzes">
    <div class="row" >
      <h2>Click on any of the following to try a Quik Quiz now!</h2>
      <!-- <div class="column" style="background-color:#6563ce"> -->


        <div class="hidden" id="filteredQuizList"></div>
        <section>
          <!-- change i < 6 when we have 6 quizzes in database -->
          <% for(let i=0; i < 6; i++) { %>

            <!-- //create if statements for color depending value of i (the following ternary operator is for two colors) -->
            <% let color = i % 2 === 0 ? "#66D6F7" : "#79c0e0" %>
            <div id= "column<%=i%>" class="column" style="background-color:<%= color %>">

              <article>
                <div>
                  <a id=quiz-question href="/quiz/<%= allData[i].id %>">
                    <!-- <% console.log(allData[i]) %> -->
                    <%= allData[i].question %>
                  </a>

                  <footer>
                    <%= allData[i].category %>
                  </footer>
                </div>
              </article>
            </div>
            <% } %>
        </section>

  </main>





  <footer class=footer>
    <p>
      “The only true wisdom is in knowing you know nothing.”― Socrates
    </p>
    <br>
    <p>Jan 2022 - Devendra, Jaden, Nadia</p>
  </footer>

  <!-- what does this do? takes the JSON data and turns it in a string so when
    <script>
      var data = '<%- JSON.stringify(allData) %>'
      initialize(data)
    </script> -->

</body>

</html>
