<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/home.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- External Google fonts-->




  <!-- External JS -->

</head>

<body>

  <header>
    <!-- nav bar goes somewhere here inside the header-->
    <a href="quiz/new">CREATE</a>
    <!-- <a href="/">HOME</a> -->
    <input id="searchbar" type="text" placeholder="Type in a Category" />
    <a>SEARCH</a>
  </header>
  <hr>

  <!-- main container with all of the quizzes-->
  <main>




    <section>
      <h1>Welcome to QuikQuiz</h1>
      <h1>
      </h1>
      <hr>

    </section>
    <div class="hidden" id="filteredQuizList"></div>
    <div id="quizList">


      <% for(let i=0; i < allData.length; i++) { %>

        <section>
          <article>
            <div>
              <a id=quiz-question href="/quiz/<%= allData[i].id %>">
                <% console.log(allData) %>
                  <%= allData[i].question %>
              </a>
            </div>

            <div>
              <%= allData[i].category %>
            </div>


          </article>

          <% } %>
    </div>

    <!-- limit # of quizis to 6- 8 per page(stretch) -->
    </section>
  </main>
  <!-- App JS -->
  <script type="text/javascript" src="/scripts/home.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>



  <script>
    var data = '<%- JSON.stringify(allData) %>'
    var data2 = '<%- allData %>'
    console.log(data2)
    initialize(data)
  </script>
</body>

</html>
