<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/home.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- External Google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ribeye&family=Roboto:ital,wght@0,400;0,700;1,100;1,300&display=swap" rel="stylesheet">

  <!-- App JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- External JS -->

</head>

<body>

    <!-- nav bar-->
    <%- include('partials/_navbar') %>

  <header>
    <section class="header">
      <h1>Welcome to QuikQuiz</h1>
      <br>

      <div>
        <a id=tryRandom type="submit" href="/quiz">
          <button >Try a QuikQuiz Now!</button>
        </a>
      </div>
    </section>
  </header>



  <!-- main container with all of the quizzes-->
  <main>
    <section class="categories">
      <p>Test your inner genius with instant quizzes on various topics!</p>
      <article class="subject">
        <div style="background-color:#D6E6F4; padding:10px">MATH</div>
        <div style="background-color:#D6E6F4; padding:10px">ENGLISH</div>
        <div style="background-color:#D6E6F4; padding:10px">SCIENCE</div>
        <div style="background-color:#D6E6F4; padding:10px">AND MANY MORE!</div>
      </article>
    </section>


    <section class = "quizzes">
      <div class="row" >
        <h2>Click on any of the following to try a Quik Quiz now!</h2>
        <!-- <div class="column" style="background-color:#6563ce"> -->

          <section>
            <!-- change i < 6 when we have 6 quizzes in database -->
            <% for(let i=0; i < 6; i++) { %>

              <!-- //create if statements for color depending value of i (the following ternary operator is for two colors) -->
              <% let color = i % 2 === 0 ? "#66D6F7" : "#79c0e0" %>
              <div id= "col<%=i%>" class="column" style="background-color:<%= color %>">
                <article>
                  <div>
                    <a id=quiz-question href="/quiz/<%= allData[i].id %>">
                      <!-- <% console.log(allData[i]) %> -->
                      <%= allData[i].question %>
                    </a>
                    <footer>
                      <%= allData[i].category %>
                    </footer>
                      </div>
                    </article>
                  </div>
                    <% } %>
          </section>


    </section>
  </main>

<!-- figure out how to display 6 quizzes and randomize them -->



  <br>

  <footer class=footer>
    <p>
      “The only true wisdom is in knowing you know nothing.”― Socrates
    </p>
    <br>
    <p>Jan 2022 - Devendra, Jaden, Nadia</p>
  </footer>

</body>

</html>
